<?php
/**
 * @var $block \Mavit\Deliveo\Block\Adminhtml\OrderEdit\Tab\View
 */
?>

<div class="fieldset-wrapper order-information" style="width:100%">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php echo $block->getDeliveoCode() . __(' csomagcsoport adatai') ?></span>
    </div>
    <?php if (!is_null($block->getDeliveoCode())) {
        $details = $block->getDeliveoDetails();
        ?>
        <table class="admin__table-secondary">
            <tr>
                <td>Kézbesítés:</td>
                <td><?php echo date('Y-m-d H:i', strtotime($details[0]->dropped_off)) . "<br>" . __('Átvevő neve') . ": " . $details[0]->received_by . "<br>" . __('Kézbesítő futár neve') . ": " . $details[0]->delivery_courier_name; ?></td>
            </tr>
            <tr>
                <td>Címzett:</td>
                <td>
                    <?php echo $details[0]->consignee ?><br>
                    <?php echo "<a target='_blank' href='http://maps.google.com/maps?q=" . $details[0]->consignee_zip . " " . $details[0]->consignee_city . ", " . $details[0]->consignee_address . " " . $details[0]->consignee_apartment . "' >" . $details[0]->consignee_zip . " " . $details[0]->consignee_city . ", " . $details[0]->consignee_address . " " . $details[0]->consignee_apartment . "</a>" ?>
                    <br>
                    <?php echo $details[0]->consignee_phone . " | <a href='mailto:" . $details[0]->consignee_email . "'>" . $details[0]->consignee_email . "</a>" ?>
                </td>
            </tr>
            <tr>
                <td>Utánvét:</td>
                <td>
                    <?php echo number_format($details[0]->cod, 2, '.', ' ') . " " . $details[0]->currency ?>
                </td>
            </tr>
            <tr>
                <td>Megjegyzés:</td>
                <td>
                    <?php echo $details[0]->comment ?>
                </td>
            </tr>
            <tr>
                <td>Csomagolási egység:</td>
                <td>
                    <?php echo $details[0]->packaging_unit ?>
                </td>
            </tr>
            <tr>
                <td>Megrendelt szállítási opció:</td>
                <td>
                    <?php echo $details[0]->delivery ?>
                </td>
            </tr>
            <tr>
                <td>Szolgáltatási díj:</td>
                <td>
                    <?php echo $details[0]->service_fee ?> (a Deliveo üzemi devizájában)
                </td>
            </tr>
            <tr>
                <td>Földrajzi csomagkövetés:</td>
                <td>
                    <a target="_blank"
                       href="<?php echo $details[0]->trackingurl; ?>"><?php echo $details[0]->trackingurl; ?></a> (Csak
                    élő csomagnál, nem delegált szolgáltatás esetén működik.)
                </td>
            </tr>
        </table>
        <hr>
        <div class="fieldset-wrapper-title">
            <span class="title">
                <?php echo __('Napló'); ?>
            </span>
        </div>
        <table class="admin__table-secondary">
            <thead>
            <th>Időpont</th>
            <th>Esemény</th>
            </thead>
            <tbody>
            <?php foreach ($block->getPackageInfo() as $row) { ?>
                <tr>
                    <td><?php echo date('Y-m-d H:i:s', $row->timestamp) ?></td>
                    <td><?php echo $row->status_text . "(" . $row->status . ")" ?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
        <div class="fieldset-wrapper-title">
            <a <?php if(!$block->downloadableSign()) { echo 'disabled'; } ?> class="action-default scalable add" href="<?php echo $this->getUrl('deliveomassactions/order/DownloadSign', ['group_id' => $block->getDeliveoCode()]) ?>"><?php echo __('Aláíráslap letöltése'); ?></a>
            <a class="action-default scalable add" href="<?php echo $this->getUrl('deliveomassactions/order/DownloadLabel', ['group_id' => $block->getDeliveoCode()]) ?>"><?php echo __('Csomagcímke letöltése'); ?></a>
        </div>
    <?php } else { ?>
        <span>A csomag még nem került feladásra!</span>
    <?php } ?>
</div> 