<style>
.deliveo_container {
    border-radius: 5px;
    border: 3px solid #191310;
    color: #191310;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    line-height: 64px;
    vertical-align: middle;
}
.deliveo_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.deliveo_code {
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
}
</style>
<script>
jQuery('#test').click(function(event){
    event.preventDefault();
    jQuery.ajax({
    type : 'POST',
    url : "#",
    data : jQuery('#donation-request-form').serialize(),
    success: function(msg){
        alert(msg);
    }
}) 
})
</script>
<div class="admin__page-section-title">
    <span class="title">Deliveo csomagküldés</span>
</div>
<div class="admin__page-section-content">
<div class="deliveo_container">
<img class="deliveo_logo" src="https://mav-it.hu/downloads/Deliveo_logo/Deliveo_logo_64_trBG.png">
<div class="deliveo_code">
    <?php
    echo $block->Deliveo();
    ?>
</div>
<form method="post" action="<?php echo $block->getUrl('deliveomassactions/order/singledeliveo/');?>" name="postotDel">
<input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />
<input type="text" name="test" id="test">
<button type="submit" id="postToDeliveo">Küld</button>
</form>
</div>

</div>