<?php

use Magento\Framework\View\Element\Template;

/** @var Template $block */

?>
<style>
    .admin__block-wrapper {
        margin-bottom: 15px;
    }

    .form-label-row {
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <div class="row">
        <form method="post">
            <?php echo $this->getBlockHtml('formkey') ?>
            <fieldset class="admin__fieldset">
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Deliveo kapcsolat beállítása</span>
                    </strong>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>API key</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input id="api_key" <?php if (isset($block->getData('formConfig')['api_key'])) {
                                                print 'value="' . $block->getData('formConfig')['api_key'] . '"';
                                            } ?> class="admin__control-text" type="text" name="api_key">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Licence</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input id="licence" <?php if (isset($block->getData('formConfig')['licence'])) {
                                                print 'value="' . $block->getData('formConfig')['licence'] . '"';
                                            } ?> class="admin__control-text" type="text" name="licence">
                    </div>
                </div>
                <a href="#checkApi" onclick="checkApi()" class="action-default">API kapcsolat tesztelése</a>
                <span id="apiStatus"></span>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Feladó beállítása</span>
                    </strong>
                </div>
                <p>
                    Az itt megadott paraméterek kerülnek a csomag adataiba mint "Feladó".
                </p>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó neve</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender'])) {
                                    print 'value="' . $block->getData('formConfig')['sender'] . '"';
                                } ?> class="admin__control-text" type="text" name="sender">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó országának kétjegyű kódja (pl.: HU)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" maxlength="2" pattern="[A-Za-z]{2}" <?php if (isset($block->getData('formConfig')['sender_country'])) {
                                                                                                    print 'value="' . $block->getData('formConfig')['sender_country'] . '"';
                                                                                                } ?> class="admin__control-text" type="text" name="sender_country">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó településének irányítószáma</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender_zip'])) {
                                    print 'value="' . $block->getData('formConfig')['sender_zip'] . '"';
                                } ?> class="admin__control-text" type="text" name="sender_zip">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó település neve</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender_city'])) {
                                    print 'value="' . $block->getData('formConfig')['sender_city'] . '"';
                                } ?> class="admin__control-text" type="text" name="sender_city">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó közterület név, házszám</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender_address'])) {
                                    print 'value="' . $block->getData('formConfig')['sender_address'] . '"';
                                } ?> class="admin__control-text" type="text" name="sender_address">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó épület, lépcsőház, emelet, ajtó</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender_apartment'])) {
                                    print 'value="' . $block->getData('formConfig')['sender_apartment'] . '"';
                                } ?> class="admin__control-text" type="text" name="sender_apartment">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó telefonszám (csak számok, országhívószámmal)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        +&nbsp;<input style="width: fit-content" <?php if (isset($block->getData('formConfig')['sender_phone'])) {
                                                                        print 'value="' . $block->getData('formConfig')['sender_phone'] . '"';
                                                                    } ?> class="admin__control-text" type="text" pattern="\d+" name="sender_phone">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Feladó email</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if (isset($block->getData('formConfig')['sender_email'])) {
                                    print 'value="' . $block->getData('formConfig')['sender_email'] . '"';
                                } ?> class="admin__control-text" type="email" name="sender_email">
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Alapértelmezett csomag méretek</span>
                    </strong>
                </div>
                <p>
                    Ha hiányoznak a termék méretei, akkor ezeket használjuk feladáskor.
                </p>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Szélesség (X, csak szám)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" <?php if (isset($block->getData('formConfig')['package_size_x'])) {
                                                                print 'value="' . $block->getData('formConfig')['package_size_x'] . '"';
                                                            } ?> class="admin__control-text" type="number" step="0.1" name="package_size_x">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Magasság (Y, csak szám)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" <?php if (isset($block->getData('formConfig')['package_size_y'])) {
                                                                print 'value="' . $block->getData('formConfig')['package_size_y'] . '"';
                                                            } ?> class="admin__control-text" type="number" step="0.1" name="package_size_y">
                    </div>
                </div>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Mélység (Z, csak szám)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" <?php if (isset($block->getData('formConfig')['package_size_z'])) {
                                                                print 'value="' . $block->getData('formConfig')['package_size_z'] . '"';
                                                            } ?> class="admin__control-text" type="number" step="0.1" name="package_size_z">
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Alapértelmezet csomag súly</span>
                    </strong>
                </div>
                <p>
                    Ha hiányzik a termék súlya, akkor ezt használjuk feladáskor.
                </p>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Alapértelmezett súly (kg, csak szám)</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" <?php if (isset($block->getData('formConfig')['defaultweight'])) {
                                                                print 'value="' . $block->getData('formConfig')['defaultweight'] . '"';
                                                            } ?> class="admin__control-text" type="number" step="0.1" name="defaultweight">
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Webshop devizája</span>
                    </strong>
                </div>
                <p>
                    Ezzel a devizanemmel kerülnek feladásra a csomagok. Célszerűen egyezzen meg a webshop devizájával.
                </p>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Devizanem</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <select class="admin__control-select" name="webshopcurrency">
                            <option value="HUF" <?php if ($block->getData('formConfig')['webshopcurrency'] == "HUF") {
                                                    echo ("selected");
                                                }
                                                ?>>HUF</option>
                            <option value="EUR" <?php if ($block->getData('formConfig')['webshopcurrency'] == "EUR") {
                                                    echo ("selected");
                                                }
                                                ?>>EUR</option>
                            <option value="BGN" <?php if ($block->getData('formConfig')['webshopcurrency'] == "BGN") {
                                                    echo ("selected");
                                                }
                                                ?>>BGN</option>
                            <option value="HRK" <?php if ($block->getData('formConfig')['webshopcurrency'] == "HRK") {
                                                    echo ("selected");
                                                }
                                                ?>>HRK</option>
                            <option value="CZK" <?php if ($block->getData('formConfig')['webshopcurrency'] == "CZK") {
                                                    echo ("selected");
                                                }
                                                ?>>CZK</option>
                            <option value="DKK" <?php if ($block->getData('formConfig')['webshopcurrency'] == "DKK") {
                                                    echo ("selected");
                                                }
                                                ?>>DKK</option>
                            <option value="PLN" <?php if ($block->getData('formConfig')['webshopcurrency'] == "PLN") {
                                                    echo ("selected");
                                                }
                                                ?>>PLN</option>
                            <option value="RON" <?php if ($block->getData('formConfig')['webshopcurrency'] == "RON") {
                                                    echo ("selected");
                                                }
                                                ?>>RON</option>
                            <option value="SEK" <?php if ($block->getData('formConfig')['webshopcurrency'] == "SEK") {
                                                    echo ("selected");
                                                }
                                                ?>>SEK</option>
                            <option value="CHF" <?php if ($block->getData('formConfig')['webshopcurrency'] == "CHF") {
                                                    echo ("selected");
                                                }
                                                ?>>CHF</option>
                            <option value="TRY" <?php if ($block->getData('formConfig')['webshopcurrency'] == "TRY") {
                                                    echo ("selected");
                                                }
                                                ?>>TRY</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Utánvét korrekció</span>
                    </strong>
                </div>
                <p>
                    Az utánvét összegét ide beírt számmal megszorozva küldi el a Deliveo rendszerébe az utánvét összegét. Akkor hasznos, ha a Deliveo devizaneme eltér a webáruház devizanemétől.
                </p>
                <div class="form-label-row">
                    <div class="admin__field-control">
                        <label>
                            <span>Korrekciós szorzó</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input style="width: fit-content;" <?php if (isset($block->getData('formConfig')['correction_multiplier'])) {
                                                                print 'value="' . $block->getData('formConfig')['correction_multiplier'] . '"';
                                                            } ?> class="admin__control-text" type="number" step="0.1" name="correction_multiplier">
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Szállítási paraméterek</span>
                    </strong>
                </div>
                <p>
                    Minden küldeményre érvényes, globális paraméterek.
                </p>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['priority'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-check" type="checkbox" name="priority">
                        <label for="priority">
                            <span>Opcionális paraméter #1</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['saturday'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-check" type="checkbox" name="saturday">
                        <label for="saturday">
                            <span>Opcionális paraméter #3</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['insurance'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-check" type="checkbox" name="insurance">
                        <label for="insurance">
                            <span>Az utánvét összege kerüljön az Opcionális paraméter #2 mezőbe</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['orderref'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-check" type="checkbox" name="orderref">
                        <label for="referenceid">
                            <span>Rendelésszám kerüljön a hivatkozási szám mezőbe</span><br>
                            <small>Használat előtt egyeztessen a szerződött futárszolgálattal</small>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['trackingid'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-check" type="checkbox" name="trackingid">
                        <label for="trackingid">
                            <span>Rendelésszám kerüljön a Követőkód mezőbe</span>
                        </label>
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Ki fizeti a szállítási költséget?</span>
                    </strong>
                </div>
                <p>
                    Meghatározza, hogy utánvétes csomag esetében a futár a feladótól, vagy a címzettől fogja elkérni a szolgáltatási díjat.
                </p>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['freight'] == 1) {
                                    print 'checked';
                                } ?> class="admin__control-option" value="1" type="radio" name="freight">
                        <label for="freight">
                            <span>Feladó</span>
                        </label>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <input <?php if ($block->getData('formConfig')['freight'] == 2) {
                                    print 'checked';
                                } ?> class="admin__control-option" value="2" type="radio" name="freight">
                        <label for="freight">
                            <span>Címzett</span>
                        </label>
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Csomagolási egység</span>
                    </strong>
                </div>
                <p>
                    Itt beállíthatja, hogy a küldeményeket hány csomagban adja fel. Válassz a "Mindig egy" opciót, ha mindig egy csomag lesz egy küldeményben, a vásárolt tételek számától függetlenül. Válassza a "Tételenként egy" opciót, ha mindig minden vásárolt tétel külön csomagban lesz a küldeményben. Válassza a "Mindig manuálisan adom meg" opciót, ha vásárlásonként szeretné beállítani a csomagolási egység számát.
                </p>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <select class="admin__control-select" name="packaging_unit">
                            <option <?php if ($block->getData('formConfig')['packaging_unit'] == 1) {
                                        print 'selected';
                                    } ?> value="1">Mindig egy</option>
                            <option <?php if ($block->getData('formConfig')['packaging_unit'] == 2) {
                                        print 'selected';
                                    } ?> value="2">Tételenként egy</option>
                            <option <?php if ($block->getData('formConfig')['packaging_unit'] == 3) {
                                        print 'selected';
                                    } ?> value="3">Mindig manuálisan adom meg</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Alapértelmezett szállítási mód</span>
                    </strong>
                </div>
                <p>
                    A szállítási opciókat a Deliveo rendszerből kéri le. Ha hiányol egy szállítási opciót, vegye fel a kapcsolatot a partner futárszolgálatával.
                </p>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <select id="defaultdeliverymode" class="admin__control-select" name="defaultdeliverymode">
                            <?php if ($block->getData('deliveryOptions') !== null) { ?>
                                <?php foreach ($block->getData('deliveryOptions') as $delivery) { ?>
                                    <option <?php if ($block->getData('formConfig')['defaultdeliverymode'] == $delivery['value']) {
                                                print 'selected';
                                            } ?> value="<?php print $delivery['value']; ?>"><?php print $delivery['label']; ?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                        <a href="#defaultdeliverymode" onclick="deliveryClick()" class="action-default">Szállítási opciók frissítése</a>
                    </div>
                </div>
                <hr>
                <div class="fieldset-wrapper admin__block-wrapper">
                    <strong class="admin__title">
                        <span>Feladás utáni státuszmódosítás</span>
                    </strong>
                </div>
                <p>
                    Erre a státuszra fog váltani a rendelés sikeres Deliveoba küldés után
                </p>
                <div class="admin__field">
                    <div class="admin__field-control">
                        <select class="admin__control-select" name="set_status">
                            <?php foreach ($block->getData('orderStatuses') as $orderStatus) { ?>
                                <option <?php if ($block->getData('formConfig')['set_status'] == $orderStatus['value']) {
                                            print 'selected';
                                        } ?> value="<?php print $orderStatus['value'] ?>"><?php print $orderStatus['label']; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <button type="submit" id="save-button" title="Mentés" class="action-default primary">
                    <span>Mentés</span>
                </button>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
    function deliveryClick() {
        jQuery('body').trigger('processStart');
        jQuery.ajax({
                url: '<?php $block->getUrl('deliveomassactions/configuration/UpdateDeliveryModes') ?>',
                method: 'POST',
                data: {
                    form_key: FORM_KEY
                }
            })
            .done(function(data) {
                if (data !== 'error') {
                    jQuery('#defaultdeliverymode').html(data);
                } else {
                    alert('Hibás Deliveo API beállítások');
                }
            })
            .always(function() {
                jQuery('body').trigger('processStop');
            });
    }

    function checkApi() {
        jQuery('body').trigger('processStart');
        jQuery.ajax({
                url: '<?php $block->getUrl('deliveomassactions/configuration/UpdateDeliveryModes') ?>',
                method: 'POST',
                data: {
                    form_key: FORM_KEY,
                    licence: jQuery('#licence').val(),
                    api_key: jQuery('#api_key').val()
                }
            })
            .done(function(data) {
                if (data == 'error') {
                    jQuery('#apiStatus').html('<span style="color:red">Helytelen API adatok</span>');
                } else {
                    jQuery('#apiStatus').html('<span style="color:green">Helyes API adatok</span>');
                }
            })
            .always(function() {
                jQuery('body').trigger('processStop');
            });
    }
</script>